{% load static i18n %}

<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ project_description }}">
        <meta name="author" content="{{ project_author }}">

        {% include "layouts/partials/meta_tags.html" %}

        <title>{% block title %}{% endblock %} | {{ project_name }}</title>

        <link href="{% static 'vendors/normalize.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/simple-grid.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.css" rel="stylesheet">
        {% block extra_styles %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}" style="height: 100%;">
        {% block body_content %}{% endblock %}
        {% if not DEBUG %}
            {% include "layouts/partials/analytics.html" %}
        {% endif %}

        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        {% block scripts %}{% endblock %}
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
