@charset "utf-8";
@import "fonts";

html, body {
	height: 100%;
}
body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;

	background: #fff;
	font-family: "Lato", sans-serif !important;
	font-style: normal;
  font-weight: 300;
	padding: 0;
	margin: 0;
}
.material-icons {
  padding: 0 1rem;
}

.transaction-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.transaction-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.transaction-help {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}
.transaction-form {
  height: 100%;
  display: flex;
  align-items: center;
  form {
    width: 100%
  }
  .logo-container {
    text-align: center;
    .logo {
      border-radius: 50%;
      border: 3px solid #ffffff;
      width: 120px;
      height: 120px;
    }
  }

  .mdc-text-field {
    width: 100%;
  }
  .form-field.has-error {
    .error-feedback span {
      font-size: 0.8rem;
      font-weight: 600;
      color: #e74c3c;
    }
  }
  .form-action {
    text-align: center;
  }
  .form-title {
    font-weight: 400;
    text-align: center;
    margin: 0;
  }

  .form-fields {
    margin-bottom: 2rem;
  }
  .form-field {
    margin-bottom: 1rem;
  }
  .form-actions {
    text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.transaction-message, .transaction-message b, .transaction-message a{
  line-height: 1.5rem;
}
.transaction-message, .transaction-message a {
  font-weight: 300;
}
.transaction-message b {
  font-weight: 500;
}
footer {
	font-size: 0.7rem;
	text-align: center;
	display: block;
  position: absolute;
  bottom: 0;
	width: 100%;
	padding: 0.5rem 0;
	.rights {
    font-size: 0.8rem;
    text-align: center;
    color: gray;
    .project {
      font-style: italic;
      font-weight: bold;
    }
	}
}

.error-code {
  text-align: center;
  font-size: 5rem;
  margin: 0;
}
.error-message {
  text-align: center !important;
}
