{% extends "transactions/base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Reset Password' %}
{% endblock %}


{% block form_title %}
    {% if pending_action %}
        {% if pending_action.user.is_active %}
            {% trans 'Reset Password' %}
        {% else %}
            {% trans 'Account Inactive!' %}
        {% endif %}
    {% else %}
        {% trans 'Incorrect Link!' %}
    {% endif %}
{% endblock %}


{% block form_content %}
    {% if pending_action %}

        {% if pending_action.user.is_active %}
            <p class="description mb-4">
                {% trans 'Enter and confirm your new password.' %}
            </p>

            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger form-error" role="alert">
                    {% for error in form.non_field_errors %}
                        <span>{{ error|escape }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            {# field: password1 #}
            <div class="text-field-container mb-3">
                <div class="mdc-text-field text-field
                            mdc-text-field--outlined mdc-text-field--with-leading-icon
                            {% if form.password1.errors %}has-error{% endif %}">
                    <i class="material-icons mdc-text-field__icon mdi mdi-lock-outline"></i>

                    <input type="password" id="password1" name="password1" class="mdc-text-field__input"
                           value="{% if form.password1 %}{{ form.password1.value }}{% endif %}" />

                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label class="mdc-floating-label" for="password1" >
                                {% trans 'New Password' %}
                            </label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>
                {% if form.password1.errors %}
                    <div class="mdc-text-field-helper-line form-error">
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent
                                  mdc-text-field-helper-text--validation-msg has-error">
                            {% for error in form.password1.errors %}
                            <span>{{ error|escape }}</span>
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
            </div>

            {# field: password2 #}
            <div class="text-field-container mb-4">
                <div class="mdc-text-field text-field
                            mdc-text-field--outlined mdc-text-field--with-leading-icon
                            {% if form.password2.errors %}has-error{% endif %}">
                    <i class="material-icons mdc-text-field__icon mdi mdi-lock"></i>

                    <input type="password" id="password2" name="password2" class="mdc-text-field__input"
                           value="{% if form.password2 %}{{ form.password2.value }}{% endif %}" />

                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label class="mdc-floating-label" for="password2" >
                                {% trans 'Confirm Password' %}
                            </label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>

                {% if form.password2.errors %}
                    <div class="mdc-text-field-helper-line form-error">
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent
                                  mdc-text-field-helper-text--validation-msg has-error">
                            {% for error in form.password2.errors %}
                            <span>{{ error|escape }}</span>
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
            </div>

            <button class="mdc-button mdc-button--raised mdc-ripple-upgraded" id="submit">
                {% trans 'Change Password' %}
            </button>


        {% else %}
            <p class="description mb-4 inactive-account">
                {% blocktrans %}
                    This account is inactive, please contact
                    <a href="mailto:{{ project_support_email }}"><b> {{project_support_email}}</b></a>
                    for more details.
                {% endblocktrans %}
            </p>
        {% endif %}

    {% else %}
        <p class="description mb-4 invalid-token">
            {% blocktrans %}
            This link to restore password <b>has expired or has already been used.</b>
            Please try another link.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}
