{% extends "transactions/base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Restore Changed' %}
{% endblock %}


{% block form_title %}
    {% trans 'Password Changed!' %}
{% endblock %}


{% block form_content %}

    {% if confirm_action.user.is_active %}
        <p class="description mb-4">
            {% blocktrans %}
            Your account password <b>has been changed</b> successfully.
            {% endblocktrans %}
        </p>

        {% if next_url %}
            <a href="{{ next_url }}" class="mdc-button mdc-button--raised mdc-ripple-upgraded" >
                {% trans 'Return' %}
            </a>
        {% endif %}

    {% else %}
        <p class="description mb-4">
            {% blocktrans %}
                This account is deactivated, please contact
                <a href="mailto:{{ project_support_email }}"><b>{{project_support_email}}</b></a>
                for more details.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}
