{% extends "transactions/base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Reset Password' %}
{% endblock %}


{% block form_title %}
  {% if pending_action %}
    {% if pending_action.user.is_active %}
      {% trans 'Reset Password' %}
    {% else %}
      {% trans 'Inactive Account!' %}
    {% endif %}
  {% else %}
    {% trans 'Incorrect Link!' %}
  {% endif %}
{% endblock %}

{% block form_content %}
    {% if pending_action %}
        {% if pending_action.user.is_active %}
            <p class="transaction-help mb-2">
              {% trans 'Enter and confirm your new password.' %}
            </p>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger form-error" role="alert">
                    {% for error in form.non_field_errors %}
                        <span>{{ error|escape }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            {# field: password1 #}
            <div class="form-field {% if form.password1.errors %}has-error{% endif %}">
                <div class="mdc-text-field text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                    <i class="material-icons mdc-text-field__icon mdi mdi-lock-outline"></i>
                    <input type="password" id="password1" name="password1" class="mdc-text-field__input"
                           value="{% if form.password1 %}{{ form.password1.value }}{% endif %}" />
                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label class="mdc-floating-label" for="password1" >
                                {% trans 'New Password' %}
                            </label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>
                {% if form.password1.errors %}
                    <div class="mdc-text-field-helper-line error-feedback">
                      {% for error in form.password1.errors %}
                        <span>{{ error|escape }}</span>
                      {% endfor %}
                    </div>
                {% endif %}
            </div>

            {# field: password2 #}
            <div class="form-field {% if form.password2.errors %}has-error{% endif %}">
                <div class="mdc-text-field text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                    <i class="material-icons mdc-text-field__icon mdi mdi-lock"></i>
                    <input type="password" id="password2" name="password2" class="mdc-text-field__input"
                           value="{% if form.password2 %}{{ form.password2.value }}{% endif %}" />

                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label class="mdc-floating-label" for="password2" >
                                {% trans 'Confirm Password' %}
                            </label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>
                {% if form.password2.errors %}
                    <div class="mdc-text-field-helper-line error-feedback">
                        {% for error in form.password2.errors %}
                          <span>{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-actions">
              <button class="mdc-button mdc-button--raised mdc-ripple-upgraded" id="submit">
                {% trans 'Change Password' %}
              </button>
            </div>
        {% else %}
          {% include 'transactions/partials/inactive_account_message.html' %}
        {% endif %}

    {% else %}
      <p class="transaction-message">
        {% blocktrans %}
        This link to restore password <b>has expired or has already been used.</b> Please try another link.
        {% endblocktrans %}
      </p>
    {% endif %}
{% endblock %}
