{% extends "transactions/base.html" %}
{% load i18n %}

{% block title %}
  {% trans 'Restore Changed' %}
{% endblock %}

{% block form_title %}
  {% trans 'Password Changed!' %}
{% endblock %}

{% block form_content %}
  {% if confirm_action.user.is_active %}
    <p class="transaction-message">
      {% blocktrans %}
      Your account password <b>has been changed</b> successfully.
      {% endblocktrans %}
    </p>
    {% if next_url %}
      <a href="{{ next_url }}" class="mdc-button mdc-button--raised mdc-ripple-upgraded" >
        {% trans 'Return' %}
      </a>
    {% endif %}
  {% else %}
    {% include 'transactions/partials/inactive_account_message.html' %}
  {% endif %}
{% endblock %}
