{% extends 'account/layouts/base_flow.html' %}
{% load static i18n %}

{% block title %}{% if token_fail %}{% trans "Incorrect Link" %}{% else %}{% trans "Change Password" %}{% endif %}{% endblock %}

{% block content %}
    <div class="m-login__container">
        <div class="m-login__logo">
            <a href="#">
                <img src="{% static 'dist/media/logos/round_dark.png' %}" width="100">
            </a>
        </div>
        <div class="m-login__signin">

            <div class="m-login__head">
                <h3 class="m-login__title">
                    {% if token_fail %}{% trans "Incorrect Link" %}{% else %}{% trans "Change Password" %}{% endif %}
                </h3>
            </div>

            <form class="m-login__form m-form" {% if not token_fail %}method="post" action="."{% endif %}>

                {% if token_fail %}
                    <p class="text-muted font-medium-1 pt-2">
                        {% url 'account_reset_password' as passwd_reset_url %}
                        {% blocktrans %}
                            The restore link is <b> invalid </b> possibly because it has already been used.
                            Please try <a href="{{ passwd_reset_url }}"><b>Restore your password</b></a> again.
                        {% endblocktrans %}
                    </p>

                    <div class="m-login__form-action">
                        <a href="/" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                            <i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;
                            {% trans 'Go to start' %}
                        </a>
                    </div>
                {% else %}

                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                <span>{{ error|escape }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {# field: password1 #}
                    <div class="form-group m-form__group {% if form.password1.errors %}has-danger{% endif %}">
                        <input class="form-control m-input" type="password" placeholder="{% trans 'Password' %}" name="password1">

                        {% if form.password1.errors %}
                            <div id="email-error" class="form-control-feedback">
                                {% for error in form.password1.errors %}
                                    <span>{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    {# field: password2 #}
                    <div class="form-group m-form__group {% if form.password2.errors %}has-danger{% endif %}">
                        <input class="form-control m-input m-login__form-input--last" type="password"
                               placeholder="{% trans 'Confirm Password' %}" name="password2">

                        {% if form.password2.errors %}
                            <div id="email-error" class="form-control-feedback">
                                {% for error in form.password2.errors %}
                                    <span>{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="m-login__form-action">
                        <button type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                            <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;
                            {% trans 'Change Password' %}
                        </button>
                    </div>

                {% endif %}
            </form>
        </div>

        <div class="m-login__account">
            <span class="m-login__account-msg">{% trans 'You can too: ' %}</span>&nbsp;
            <a href="{% url 'account_login' %}" class="m-link m-link--focus m-login__account-link">
                {% trans 'Log in' %}
            </a>&nbsp;&nbsp;ó&nbsp;&nbsp;

            <a href="{% url 'account_signup' %}" class="m-link m-link--focus m-login__account-link">
                {% trans 'Create an account' %}
            </a>
        </div>
    </div>
{% endblock %}
