{% extends "layouts/errors/base.html" %}
{% load static i18n %}

{% block title %}{% trans 'Access Denied' %}{% endblock %}
{% block form_title %}{% trans 'Access Denied!' %}{% endblock %}

{% block error_code %}403{% endblock %}
{% block form_content %}
    <p class="description mb-4 invalid-token">
        {% blocktrans %}
          You don't have enogh permissions to get this page, please, contact us at
           <a  class="text-secondary" href="mailto:support@xiberty.com"><b>support@xiberty.com</b>.</a>
        {% endblocktrans %}
    </p>
{% endblock %}
