{% extends "layouts/errors/base.html" %}
{% load static i18n %}
{% block title %}403 | {% trans 'Access Denied' %}{% endblock %}

{% block error_title %}
    403
{% endblock %}

{% block error_description %}
    <h3 class="text-light">
        {% trans 'ACCESS DENIED' %}
    </h3>
    <p class="description text-light mb-3">
        No cuenta con los permisos para ver esta página, <br> para más indormacióm, por favor <br>
        contáctese con <a  class="text-secondary" href="mailto:support@xiberty.com"><b>support@xiberty.com</b>.</a>
    </p>
    <a href="/" class="btn btn-dark btn-lg">
        <i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;
        {% trans 'Back to Start' %}&nbsp;
    </a>
{% endblock %}

